<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- elementUI + layui  + 图标 -->
    <div th:fragment="css-EL">
        <link rel='icon' href='https://www.pppnut.cn/image/qyb1.png' type='image/x-ico' />
        <link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css">
        <link href="/layui/css/layui.css" rel="stylesheet" type="text/css" >
    </div>

    <!-- elementUI + layui  + 图标 + bootstrap -->
    <div th:fragment="css-EL">
        <link rel='icon' href='https://www.pppnut.cn/image/qyb1.png' type='image/x-ico' />
        <link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css">
        <link href="/layui/css/layui.css" rel="stylesheet" type="text/css" >
    </div>

</body>
</html>